@model IEnumerable<CmsShoppingCart.Models.ViewModels.Shop.ProductVM>

@{
    ViewBag.Title = "Products";
}

@using PagedList.Mvc;  
@using PagedList;



<h2>Products</h2>

<select id="SelectCategory" name="SelectCategory">
    <option value="0">All</option>
    @foreach(var item in ViewBag.Categories)
    {

        if(ViewBag.SelectedCat == item.Value)
        {
            <option selected="selected" value="@item.Value">@item.Text</option>
        }

        else
        {
            <option value= "@item.Value">@item.Text</option>
        }

    }

</select>

<br /><br />



<p>
    @Html.ActionLink("Add new product", "AddProduct")
</p>
<table class="table">
    <tr>
        <th>
             Name 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Slug)
        </th>
        <th>
             Description 
        </th>
        <th>
              Price 
        </th>

        <th>
            Image Name
        </th>
        
        <th></th>
    </tr>

    @foreach (var product in ViewBag.OnePageOfProducts)
    {
         
        <tr>
            <td>
                @product.Name
            </td>
            <td>
                @product.Slug
            </td>
            <td>
                @product.Description
            </td>
            <td>
               $ @product.Price
            </td>
            <td>
                 <a href="/Admin/Shop/EditProduct/@product.Id"> 
                
                <img src="/Images/Uploads/Products/@product.Id/Thubs/@product.ImageName"  />
                 </a> 
               
            </td>

            <td>
                @Html.ActionLink("Edit", "EditProduct", new { id = product.Id }) |

                @Html.ActionLink("Delete", "DeleteProduct", new { id = product.Id } ,new { @class="delete"}) @*new { @class="delete"}) >>>add js class "delete"found in scripts section to confirms  deleetetion using confrimation button*@  
            </td>

        </tr>
    }
    
  
    
</table>
   <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Products", new { page, catId = ViewBag.SelectedCat }))

@section scripts{
    <script src="~/Scripts/jquery-3.1.1.js"></script>
 
    <script>
       $(function () {

    /*
    * Select products from specified category
    */

    $("#SelectCategory").on("change", function () {
        var url = $(this).val();

        if (url) {
            window.location = "/admin/shop/Products?catId=" + url;
        }

        return false;
    });

    //////////////////////////////////////////////////////////////

    /*
    * Confirm product deletion ///to linkie to a button use: , @* new{ @class="delete"}) *@ 
           //e.g.:    @*@Html.ActionLink("Delete", "DeleteProduct", new { id = product.Id } ,new { @class="delete"})*@ 
    //*/

    $("a.delete").click(function () {
        if (!confirm("Confirm product deletion")) return false;
    });

    //////////////////////////////////////////////////////////////

});

</script>

}